<apex:page controller="AEManagementController" sidebar="false" showHeader="false" doctype="html-5.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <apex:slds />
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <title>AE Management</title>
        <style>
            .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
               background-color: #b3e0f5;
            }
            .checkBxMg{
                margin-right:0px !important;
            }
            .tdHead{
                color:white;
                vertical-align:middle;
                text-align:center;
                font-size:15px;
                background-color:#015f8c !important; 
            }
            .unassignBtn{
                font-size:15px !important; 
            }
            /*#015f8c*/
            
        </style>
        
        <script type="text/javascript">
            function selectAllCheckboxes(obj,receivedInputID){
                var inputCheckBox = document.getElementsByTagName("input");                  
                for(var i=0; i<inputCheckBox.length; i++){          
                    if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                        inputCheckBox[i].checked = obj.checked;
                    }
                }
            }
        </script>
        
        <div style="width:80%;margin:0 auto" >
            <apex:form >
                <apex:outputPanel id="fullPage">
                <div style="background-color:#015f8c">
                    <div style="width:50%;padding:20px;margin:0 auto;">
                        <table>
                            <tr>
                                <td>
                                    <apex:selectList value="{!selecteduserId}" size="1" multiselect="false" styleClass="dropdown form-control">
                                          <apex:selectOptions value="{!ListOfUser}" />
                                     </apex:selectList>
                                 </td>
                                 <td style="width:1%"></td>
                                 <td>
                                     <apex:commandButton action="{!getData}" value="Select" styleClass="slds-button slds-button_outline-brand"/>
                                 </td>
                             </tr>
                         </table>
                     </div>
                </div>
                <div style="margin-top:1%;">
                    <table style="width:86%;">
                        <tr>
                            <td>
                                <apex:inputText styleClass="form-control" html-placeholder="Search Opportunity" value="{!searchOpp}"/>        
                            </td>
                            <td style="width:1%"></td>
                            <td>
                                <apex:selectList value="{!selectedType}" size="1" multiselect="false" styleClass="dropdown form-control">
                                    <apex:selectOptions value="{!TypePicklistValue}" />
                                </apex:selectList>
                            </td>
                            <td style="width:1%"></td>
                            <td>
                                <apex:commandButton action="{!searchOpportunity}" value="Search" styleClass="slds-button slds-button_outline-brand"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <apex:outputPanel rendered="{!IF(updatedSize!=0,true,false)}">
                        <div class="alert alert-success" role="alert" style="font-size:16px;width:100%;text-align:center;margin-top:20px;">
                            {!updatedSize} 
                            <apex:outputPanel rendered="{!IF(updatedSize==1,true,false)}"> Opportunity </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(updatedSize!=1,true,false)}"> Opportunities </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(selectedUsr=='',true,false)}"> moves to <b>Unassigned</b> </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(selectedUsr!='',true,false)}"> assigned to <b>{!usrMap[selectedUsr].Name}</b> </apex:outputPanel>
                        </div>
                        <script>
                            setTimeout(function() {
                                $(".alert-success").fadeOut(1500); 
                            }, 5000)
                        </script>
                    </apex:outputPanel>
                    <table style="margin-top:1%;width:100%">
                        <tr>
                            <td style="width:75%;vertical-align:top">
                                <table style="width:100%;overflow: scroll;">
                                    <tr>
                                        <td style="font-size:20px;padding:2px;">
                                            <div>
                                                <div style="float:left">Opportunities
                                                    <apex:outputPanel rendered="{!IF(wrap.size!=0,true,false)}">
                                                        <apex:outputPanel rendered="{!IF(wrap.size<=999,true,false)}">
                                                            ({!wrap.size})
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(wrap.size>999,true,false)}">
                                                            (999+)
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </div>
                                                <apex:outputPanel rendered="{!IF(wrap.size!=0,true,false)}">
                                                    <div style="float:right"><apex:commandButton action="{!unAssignExec}" value="Unassign" styleClass="slds-button slds-button_text-destructive unassignBtn"/></div>
                                                </apex:outputPanel>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td style="width:60%;vertical-align:top">
                                            <table class="table">
                                                <!--table-striped-->
                                                <tr style="height:30px">
                                                    <td class="tdHead">
                                                        <apex:outputPanel rendered="{!IF(wrap.size!=0,true,false)}">
                                                            <apex:actionRegion >
                                                                 <apex:inputCheckbox id="user" styleClass="form-check-input me-1" onclick="selectAllCheckboxes(this,'inputId')">
                                                                     <apex:actionSupport event="onclick" reRender="fullPage" action="{!selectAll}"/>
                                                                 </apex:inputCheckbox>
                                                             </apex:actionRegion>
                                                        </apex:outputPanel>
                                                    </td>
                                                    <td class="tdHead">Name</td>
                                                    <td class="tdHead">Account Name</td>
                                                    <td class="tdHead" style="width:20%">Account Executive</td>
                                                </tr>
                                                <apex:outputPanel rendered="{!IF(wrap.size!=0,true,false)}">
                                                    <apex:repeat value="{!wrap}" var="opp">
                                                        <tr>
                                                            <td style="background-color:#015f8c;width:1%;vertical-align:middle">
                                                                <apex:inputCheckbox value="{!opp.checked}" id="inputId" styleClass="form-check-input me-1 checkBxMg"/>
                                                            </td>
                                                            <td style="font-size:15px">
                                                                {!opp.Name}
                                                            </td>
                                                            <td style="font-size:15px">
                                                                {!opp.AccountName}
                                                            </td>
                                                            <td style="font-size:15px">
                                                                {!opp.AEName}
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </apex:outputPanel>
                                            </table>
                                            <apex:outputPanel rendered="{!IF(wrap.size==0,true,false)}">
                                                <div class="alert alert-dark" role="alert" style="font-size:16px;width:100%;text-align:center;margin-top:20px;">
                                                    <apex:outputText rendered="{!IF(selecteduserId!=null,true,false)}">
                                                        SELECTED ACCOUNT EXECUTIVE DOES NOT HAVE ANY OPPORTUNITIES
                                                    </apex:outputText>
                                                    <apex:outputText rendered="{!IF(selecteduserId==NULL,true,false)}">
                                                        NONE OF OPPORTUNITIES TO DISPLAY, PLEASE SELECT ACCOUNT EXECUTIVE
                                                    </apex:outputText>
                                                </div>
                                            </apex:outputPanel>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:5%"></td>
                            <td style="width:20%;vertical-align:top">
                                <table style="width:100%">
                                    <tr>
                                        <td style="font-size:20px;padding:4px">Available Account Executive</td>
                                    </tr>
                                    
                                    <tr>
                                        <td style="width:20%;vertical-align:top">
                                            <table style="width:100%;max-height:700px;overflow:scroll;" class="table">
                                                <tr style="height:30px">
                                                    <td class="tdHead">Name</td>
                                                    <td class="tdHead"></td>
                                                </tr>
                                                <apex:repeat value="{!usrList}" var="usr">
                                                    <tr>
                                                        <td style="font-size:15px">
                                                            {!usr.Name}
                                                        </td>
                                                        <td>
                                                            <apex:commandLink action="{!addExecutive}">
                                                                <svg class="slds-button__icon" aria-hidden="true"> 
                                                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                                                </svg> 
                                                                <apex:param name="usrId" value="{!usr.Id}" assignTo="{!selectedUsr}"/>
                                                            </apex:commandLink>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                </apex:outputPanel>
            </apex:form>
        </div>
    </html>
</apex:page>