<apex:page standardController="Case" extensions="Case_FormController" sidebar="false" showHeader="false">

    <apex:slds />
    <apex:form id="form">
        <div style="height:100px; background-color:#30426a;">
            <div style="padding-left:1%;">
                <apex:image url="{!$Resource.Endicott_Logo}" width="200" height="130" />
            </div>
        </div>
        <apex:outputPanel id="mainPanel">
            <div class="slds-grid slds-gutters" style="margin-top:1%;">

                <div class="slds-col slds-size_1-of-4">

                </div>

                <div class="slds-col slds-size_2-of-4 slds-align_absolute-center">

                    <div style="width:90%; padding:6%; background-color:#30426a; border-radius: 15px; ">
                        <div class="slds-col slds-align_absolute-center" style="font-size: 22px;color:white;">
                            Fill Out for Raise a Case!
                        </div>

                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-1">
                                        <span style="color:white;">First Name
                                            <abbr class="slds-required" title="required" style="color:white;">* </abbr>
                                        </span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!FirstName}" id="text-input-id-1" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-2">
                                        <span style="color:white;">Last Name
                                            <abbr class="slds-required" title="required" style="color:white;">* </abbr>
                                        </span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!LastName}" id="text-input-id-2" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-3">
                                        <span style="color:white;">Account Name
                                            <abbr class="slds-required" title="required" style="color:white;">* </abbr>
                                        </span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!AccountName}" id="text-input-id-3" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-4">
                                        <span style="color:white;">Account Number</span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!AccountNumber}" id="text-input-id-4" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-5">
                                        <span style="color:white;">Email</span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!EmailId}" id="text-input-id-5" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-6">
                                        <span style="color:white;">Phone Number</span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!PhoneNumber}" id="text-input-id-6" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">
                                        <span style="color:white;">Preferred method of contact?</span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList size="1" value="{!PrefferdMehtod}" styleClass="slds-select">
                                                <apex:selectOptions value="{!prefferedMethodList}" />
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">
                                        <span style="color:white;">Reason for Inquiry?</span>
                                        <abbr class="slds-required" title="required" style="color:white;">* </abbr>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList size="1" value="{!InqueryReason}" styleClass="slds-select">
                                                <apex:selectOptions value="{!InqueryReasonsList}" />
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">
                                        <span style="color:white;">An urgent request for immediate assistance?</span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <apex:selectList size="1" value="{!Urgency}" styleClass="slds-select">
                                                <apex:selectOptions value="{!UrgencyTypeList}" />
                                            </apex:selectList>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-7">
                                        <span style="color:white;">Your name or Agent Id
                                            <abbr class="slds-required" title="required" style="color:white;"></abbr>
                                        </span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputText value="{!Submittedby}" id="text-input-id-7" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-form-element" style="margin-top: 4%;">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                            <apex:inputCheckbox html-name="options" id="divsup" value="{!isChecked}"></apex:inputCheckbox>
                                            <apex:outputLabel for="divsup" styleClass="slds-checkbox__label">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label"><span style="color:white;">Is this a repeat request?</span></span>
                                            </apex:outputLabel>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="slds-grid slds-gutters" style="margin-top:1%;">
                            <div class="slds-col">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-8">
                                        <span style="color:white;">Additional Notes</span>
                                    </label>
                                    <div class="slds-form-element__control">
                                        <apex:inputTextarea value="{!Description}" id="text-input-id-8" styleClass="slds-input" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters" style="margin-top:4%;">
                            <div class="slds-col slds-align_absolute-center">
                                <apex:pageMessages id="showmsg" />
                            </div>
                        </div>
                        <apex:actionStatus id="AddStatus">
                            <apex:facet name="start">
                                <div class="demo-only demo--inverse" style="height:6rem">
                                    <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                                        <span class="slds-assistive-text">Loading</span>
                                        <div class="slds-spinner__dot-a"></div>
                                        <div class="slds-spinner__dot-b"></div>
                                    </div>
                                </div>
                            </apex:facet>
                        </apex:actionStatus>
                        <script>
                            setTimeout(function () { document.getElementById('spinner').className += ' slds-hide' }, 3000);
                        </script>

                        <div class="slds-grid slds-gutters" style="margin-top:8%;">
                            <div class="slds-col">
                                <div class="slds-float_right">
                                    <apex:commandButton action="{!saveRecord}" value="Submit" status="AddStatus" id="theButton" styleClass="slds-button slds-button_destructive"
                                        rerender="showmsg,form" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slds-col slds-size_1-of-4">

                </div>
            </div>
        </apex:outputPanel>
    </apex:form>
</apex:page>