<apex:page controller="Cancellation_Report_Ctrl" action="{!thirdTable}" sidebar="false" lightningStyleSheets="true" contentType="application/vnd.ms-excel#Site Sales Vs Disc {!Today()}.xls">
    <apex:slds />
    <html>
        
    <head>
    	<meta http-equiv="Content-Type" content="text/HTML;charset=UTF-8" />
    
    <style>
        .tblTr{
            background-color:#1387ad;
            border:1px solid #1387ad;
            color:white;
            margin-top:50px !important;
        }
        .tblTd{
            border : 1px solid #1387ad;
            padding-left: 10px !important;
        }
    </style>
        </head>
    <apex:form >
    <apex:outputpanel id="tab-3">
        <table>
            <apex:repeat value="{!thirdTable}" var="third">
                                <tr>
                                    <td style="padding-top:25px;"></td>
                                </tr>
                                <tr >
                                    <th class="tblTr">{!third}</th>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    <th class="tblTr">
                                        <apex:outputText value="{!monthName[month]}" />                                         
                                    </th>
                                    </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Number of Sales</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">{!data.totalSales}</td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Saleforece Revenue</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">$
                                            <apex:outputText value="{0,number, ###,###.##}">
                                                <apex:param value="{!data.totalSalesRevenue}"/>
                                            </apex:outputText>  
                                        </td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Projects</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">{!data.totalProject}</td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Revenue Project</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">$
                                            <apex:outputText value="{0,number, ###,###.##}">
                                                <apex:param value="{!data.totalProjectRevenue}"/>
                                            </apex:outputText>  
                                        </td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Sales</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">{!data.totalCloseSales}</td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Revenue</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">$
                                            <apex:outputText value="{0,number, ###,###.##}">
                                                <apex:param value="{!data.totalRevenue}"/>
                                            </apex:outputText>  
                                        </td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Disconnects</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">{!data.totalDisconnect}</td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Total Disconnected Revenue</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">$
                                            <apex:outputText value="{0,number, ###,###.##}">
                                                <apex:param value="{!data.totalDisconnectRevenue}"/>
                                            </apex:outputText> 
                                        </td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>
                                <tr>
                                    <td class="tblTd">Gain/Less Revenue</td>
                                    <apex:repeat value="{!thirdTable[third]}" var="month">
                                    
                                    <apex:repeat value="{!thirdTable[third][month]}" var="data">
                                        <td class="tblTd">$
                                            <apex:outputText value="{0,number, ###,###.##}">
                                                <apex:param value="{!data.gainLossRevenue}"/>
                                            </apex:outputText> 
                                        </td>
                                    </apex:repeat>
                                </apex:repeat>
                                </tr>    
                            
                            </apex:repeat>
        </table>                     
        
    </apex:outputpanel>
    </apex:form>
    </html>
</apex:page>